<a href="https://colab.research.google.com/github/pietrorodrigues09/PA_python/blob/main/Exercicios_de_Listas%2CStrings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EXERCÍCIOS

In [ ]:
# 1 - Use o método len para imprimir o comprimento da string.
x = "Hello World"
print( len(x))

11

In [ ]:
# 2 - Obtenha o primeiro caractere da string txt.
txt = "Hello World"
txt[0]

'H'

In [ ]:
# 3 - Obtenha os caracteres do índice 2 ao índice 4 ( llo).
txt = "Hello World"
txt[2:5]

'llo'

In [ ]:
# 4 - Converta o valor de txt para maiúsculas.
txt = "Hello World"
txt.upper()

'HELLO WORLD'

In [ ]:
# 5 - Conte quantas vezes aparece a palavra "de" na string abaixo
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
print( len("de"))

2

In [ ]:
# 6 - Separe a frase abaixo toda vez que encontrar um vírgula
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.split(",")

['Eu gosto de vijar',
 ' tomar vinho',
 ' de estudar estudar programação',
 ' de estudar Pyhon']

In [ ]:
# 7 - Peça ao usuário uma frase e substitua todas as ocorrências de espaço por "#"
frase = input(str("Digite uma frase: "))
frase.replace(" ", "#")

Digite uma frase: eu amo o pablo

'eu#amo#o#pablo#'

In [ ]:
# 8 - Faça um programa que retorne True se duas strings lidas do teclado são palíndromas mútuas, ou seja, se uma é igual à outra quando lida de traz para frente ou False, se não forem.
# Por exemplo: amor e roma

palavra1 = input(str("Digite uma palvra: "))
palavra2 = input(str("Digite uma palava: "))

(palavra1[::-1] == palavra2)

if palavra1[::-1] == palavra2:
    print("As palavras são palindromas")
elif palavra1[::-1] == palavra1:
    print("A palavra 1 é palíndroma com ela mesma")
elif palavra2[::-1] == palavra2:
    print("A palavra 2 é palíndroma com ela mesma")
else:
    print("As palavras não são palindromas")

Digite uma palvra: amor
Digite uma palava: pao
As palavras não são palindromas

In [ ]:
# 9- Faça um programa que leia o nome do usuário e mostre o nome de traz para frente, utilizando somente letras maiúsculas.

nome = input(str("Digite o seu nome: "))
nome = nome[::-1]
nome = nome.upper()
print(nome)

# **Exercícios**
##Exercício 1: Manipulação de Listas

- Defina uma lista com 5 nomes de cidades.
- Adicione uma nova cidade ao final da lista.
- Remova a segunda cidade da lista.
- Imprima a lista resultante.

In [ ]:
# seu código aqui...
cidades = ["Maua","Ribeirão Pires","São Caetano","Santo André","Diadema"]
cidades.append("São Bernardo")
cidades.remove("Ribeirão Pires")
print(cidades)

['Maua', 'São Caetano', 'Santo André', 'Diadema', 'São Bernardo']

##Exercício 2: Operações com Tuplas

- Defina uma tupla com 4 cores.
- Crie uma nova tupla que seja a concatenação da tupla original com outra contendo mais 2 cores.
- Imprima a nova tupla.

In [ ]:
# seu código aqui...
cores = ("amarelo","verde","vermelho","laranja")
novas_cores = cores + ("preto","branco",)
print(novas_cores)

('amarelo', 'verde', 'vermelho', 'laranja', 'preto', 'branco')

##Exercício 3: Dicionários Simples

Crie um dicionário para representar um aluno, contendo "nome", "idade" e "curso".
- Atualize a idade do aluno.
- Adicione uma nova chave "nota" com um valor.
- Imprima o dicionário atualizado

In [ ]:
# seu código aqui...
aluno = {
    "nome": "Marcos",
    "idade": 15,
    "curso": "Edificações"
}
aluno["idade"] = 16

aluno["nota"] = 10.0
print(aluno)

{'nome': 'Marcos', 'idade': 16, 'curso': 'Edificações', 'nota': 10.0}

##Exercício 4: Listas e Dicionários

- Crie uma lista de dicionários, onde cada dicionário representa um produto com as chaves "nome" e "preço".
- Adicione um novo produto à lista.
- Atualize o preço do primeiro produto na lista.
- Imprima a lista resultante.

In [ ]:
# seu código aqui...
produtos = {"garrafa": 10, "mochila": 200, "caderno":40 }
print(produtos)
produtos["garrafa"] = 15
print(produtos)
produtos["caneta"] = 5
print(produtos)

{'garrafa': 10, 'mochila': 200, 'caderno': 40}
{'garrafa': 15, 'mochila': 200, 'caderno': 40}
{'garrafa': 15, 'mochila': 200, 'caderno': 40, 'caneta': 5}

##Exercício 5: Analisando uma Lista de Tuplas

- Crie uma lista de tuplas, onde cada tupla contém um par (nome, idade).
- Encontre e imprima o nome da pessoa mais velha.
- Encontre e imprima a idade média das pessoas.

In [ ]:
idade = 0
nomemaisvelho = " "

pessoas = [("João", 25), ("Maria", 30), ("José", 38)]

if pessoas[0][1] > pessoas[1][1]:
    if pessoas[0][1] > pessoas[2][1]:
        nomemaisvelho = pessoas[0][0]
        idade = pessoas[0][1]
    else:
        nomemaisvelho = pessoas[2][0]
        idade = pessoas[2][1]
else:
    if pessoas[1][1] > pessoas[2][1]:
        nomemaisvelho = pessoas[1][0]
        idade = pessoas[1][1]
    else:
        nomemaisvelho = pessoas[2][0]
        idade = pessoas[2][1]


media = (pessoas[0][1] + pessoas[1][1] + pessoas[2][1])/3
print(nomemaisvelho , idade)
print(media)

José 38
31.0